.redlight {
    background: red;
}

.yellowlight {
    background: yellow;

}

.greenlight {
    background: green;
}

.gray {
    background: gray;
}

.shadowred {
    box-shadow: 2px 2px 81px 18px rgba(240, 102, 42, 0.82);
    -webkit-box-shadow: 2px 2px 81px 18px rgba(240, 102, 42, 0.82);
    -moz-box-shadow: 2px 2px 81px 18px rgba(240, 102, 42, 0.82);
}

.shadowyellow {
    box-shadow: 2px 2px 81px 18px rgba(240, 220, 42, 0.82);
    -webkit-box-shadow: 2px 2px 81px 18px rgba(240, 220, 42, 0.82);
    -moz-box-shadow: 2px 2px 81px 18px rgba(240, 220, 42, 0.82);
}

.shadowgreen {
    box-shadow: 2px 2px 81px 18px rgba(42, 240, 74, 0.82);
    -webkit-box-shadow: 2px 2px 81px 18px rgba(42, 240, 74, 0.82);
    -moz-box-shadow: 2px 2px 81px 18px rgba(42, 240, 74, 0.82);
}